{% extends 'base.html' %}
{% load custom_tag %}
{% block content %}

<div class="container-fluid">
   <h1> from facility.html </h1>
   <div>
      <br>
      <div>
         <form action="" id='filterForm' method="GET">
            <div class="row justify-content-center">
              
               <div class="form-group col-4">
                  <label for="selectState">Select State</label>
                  <select class="form-control" name='state' id="stateSelect">
                    <option value="">Select State</option>
                    {% for state in states %}
                    <option {% is_option_selected selected_state_id state.pk %}                            
                    value="{{state.pk}}">{{state.name}}</option>
                    {% endfor %}
                   </select>
                </div>

                <div class="form-group col-4">
                  {{cities}}
                  <label for="selectCity">Select City</label>
                  <select class="form-control" name='city' id="citySelect">
                    <option value="">Select City</option>
                    {% for city in cities %}
                    <option {% is_option_selected selected_city_id city.pk %}
                    value="{{city.pk}}">{{city.name}}</option>
                    {% endfor %}
                   </select>
                </div> 

                <div class="form-group col-4">
                  <label for="selectFacility">Select Facility</label>
                  <select class="form-control" name='facility' id="facilitySelect">
                    <option value="">Select Facility</option>
                    {% for facility in facilities %}
                    <option  {% is_option_selected selected_facility_id facility.pk %}
                    value="{{facility.pk}}">{{facility.title}}</option>
                    {% endfor %}
                   </select>
                </div> 

            </div>
            <div>
               <a href="/facility" class="btn btn-primary">Reset</a>
            </div>
         </form>         
      </div>     
      <hr>    
     
      <table class="table text-center table-bordered table-striped">
         <thead class="thead-dark">
            <tr>
               <th rowspan="2" style="vertical-align : middle; text-align:center;" class="border-white">Hospital</th>
               {% for facility in facilities %}
               <th colspan="2" class="text-center border-white">{{facility.title}}</th>
               {% endfor %}
            </tr>           
           
            <tr>
               {% for facility in facilities %}
               <th scope="col" class="border-white">Total</th>
               <th scope="col" class="border-white">Available</th>
               {% endfor %}
               <tr>
         </thead>
         <tbody>
            {% for hospital in hospitals %} 
               <tr>
                  <td><a href='/hospital/{{hospital.id}}'>{{hospital.name}}</a></td>
                  {% get_availabilities hospital as availabilities%}
                  {% for avl in availabilities %}                  
                  <td>{{avl.total}}</td>
                  <td class="{% get_table_class avl.available %}">
                      {{avl.available}}</td>
                  {% endfor %}
               </tr>
            {% endfor %}
           
         </tbody>   
      </table>  
   </div>

</div>  
  
{% endblock %}
