{% extends 'base.html' %}
{% load custom_tag %}
{% block content %}

<div class="container-fluid">
   <h1> from hospitalview.html </h1>

   <table class="table">
      <h3>{{error_message}}</h3>
      <h4>{{hospital}}</h4>
      <thead>
         <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>City</th>
         </tr>
      </thead>
      <tbody>
         {% for x in hospital %}
         <tr>
           <td>{{ x.name }}</td>
           <td>{{ x.address }}</td>
           <td>{{ x.phone }}</td>
           <td>{{ x.city }}</td>
         </tr>
          {% endfor %}            
      </tbody>
   </table>
   <h3></h3>
  

</div>  
  
{% endblock %}
